/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
    Admin ToolBar styles  
   ========================================================================== */

body.toolbar {
  padding-top: 2.2em;
}
body.toolbar-drawer {
  padding-top: 5.3em;
}

/**
 * Aggressive resets so we can achieve a consistent look in hostile CSS
 * environments.
 */
#toolbar,
#toolbar * {
  border: 0;
  font-size: 100%;
  line-height: inherit;
  list-style: none;
  margin: 0;
  outline: 0;
  padding: 0;
  text-align: left; /* LTR */
  vertical-align: baseline;
}

/**
 * Base styles.
 *
 * We use a keyword for the toolbar font size to make it display consistently
 * across different themes, while still allowing browsers to resize the text.
 */
#toolbar {
  background:  #b3d4fc; /* #666*/
  color: #ccc;
  font: normal small "Lucida Grande", Verdana, sans-serif;
  left: 0;
  margin: 0 -20px;
  padding: 0 20px;
  position: fixed;
  right: 0;
  top: 0;
  -moz-box-shadow: 0 3px 20px #000;
  -webkit-box-shadow: 0 3px 20px #000;
  box-shadow: 0 3px 20px #000;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#000000, direction='180', strength='10');
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(color=#000000, direction='180', strength='10')";
  z-index: 600;
}
#toolbar div.collapsed {
  display: none;
  visibility: hidden;
}
#toolbar a {
  color: #fff;
  font-size: .846em;
  text-decoration: none;
}
#toolbar ul li,
#toolbar ul li a {
  float: left; /* LTR */
}

/**
 * Administration menu.
 */
#toolbar div.toolbar-menu {
  background: #000;
  line-height: 20px;
  padding: 5px 50px 5px 10px; /* LTR */
  position: relative;
}
#toolbar-home a span {
  background: url(toolbar.png) no-repeat 0 -45px;
  display: block;
  height: 14px;
  margin: 3px 0px;
  text-indent: -9999px;
  vertical-align: text-bottom;
  width: 11px;
}
#toolbar-user {
  float: right; /* LTR */
}
#toolbar-menu {
  float: left; /* LTR */
}
#toolbar div.toolbar-menu a.toggle {
  background: url(toolbar.png) 0 -20px no-repeat;
  bottom: 0;
  cursor: pointer;
  height: 25px;
  overflow: hidden;
  position: absolute;
  right: 10px; /* LTR */
  text-indent: -9999px;
  width: 25px;
}
#toolbar div.toolbar-menu a.toggle:focus,
#toolbar div.toolbar-menu a.toggle:hover {
  background-position:  -50px -20px;
}
#toolbar div.toolbar-menu a.toggle-active {
  background-position:  -25px -20px;
}
#toolbar div.toolbar-menu a.toggle-active.toggle:focus,
#toolbar div.toolbar-menu a.toggle-active.toggle:hover {
  background-position:  -75px -20px;
}
#toolbar div.toolbar-menu ul li a {
  padding: 0 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
#toolbar div.toolbar-menu ul li a:focus,
#toolbar div.toolbar-menu ul li a:hover,
#toolbar div.toolbar-menu ul li a:active,
#toolbar div.toolbar-menu ul li a.active:focus {
  background: #444;
}
#toolbar div.toolbar-menu ul li a.active:hover,
#toolbar div.toolbar-menu ul li a.active:active,
#toolbar div.toolbar-menu ul li a.active,
#toolbar div.toolbar-menu ul li.active-trail a {
  background: url(toolbar.png) 0 0 repeat-x;
  text-shadow: #333 0 1px 0;
}

div#toolbar a#turn-admin-off {
  float: right;
  padding: 5px 10px 5px 5px;
  line-height: 24px;
  color: #fefefe;
}
div#toolbar a#turn-admin-off:focus,
div#toolbar a#turn-admin-off:hover,
div#toolbar a#turn-admin-off.active {
  color: #fff;
  text-decoration: underline;
}

div#toolbar div.toolbar-shortcuts ul {
  padding: 5px 0 2px 0;
  height: 28px;
  line-height: 24px;
  float: left; /* LTR */
  margin-left:5px; /* LTR */
}

div#toolbar div.toolbar-shortcuts ul li a {
  padding: 0 5px 0 5px;
  margin-right: 5px; /* LTR */
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

div#toolbar div.toolbar-shortcuts ul li a:focus,
div#toolbar div.toolbar-shortcuts ul li a:hover,
div#toolbar div.toolbar-shortcuts ul li a.active:focus {
  background: #555;
}

div#toolbar div.toolbar-shortcuts ul li a.active:hover,
div#toolbar div.toolbar-shortcuts ul li a.active {
  background: #000;
}

div#toolbar div.toolbar-shortcuts span.icon {
  float: left; /* LTR */
  background: #444;
  width: 30px;
  height: 30px;
  margin-right: 5px; /* LTR */
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

div.add-or-remove-shortcuts {
  padding-top: 5px;
}

div.add-or-remove-shortcuts a span.icon {
  display: block;
  width: 12px;
  background: transparent url(shortcut.png) no-repeat scroll 0 0;
  height: 12px;
  float: left;
  margin-left:8px;
}

div.add-shortcut a:focus span.icon,
div.add-shortcut a:hover span.icon {
  background-position: 0 -12px;
}
div.remove-shortcut a span.icon {
  background-position: -12px 0;
}
div.remove-shortcut a:focus span.icon,
div.remove-shortcut a:hover span.icon {
  background-position: -12px -12px;
}

div.add-or-remove-shortcuts a span.text {
  float: left;
  padding-left:10px;
  display: none;
}

div.add-or-remove-shortcuts a:focus span.text,
div.add-or-remove-shortcuts a:hover span.text {
  font-size: 10px;
  line-height: 12px;
  color: #fff;
  background-color: #5f605b;
  display: block;
  padding-right: 6px; /* LTR */
  cursor: pointer;
  -moz-border-radius: 0 5px 5px 0; /* LTR */
  -webkit-border-top-right-radius: 5px; /* LTR */
  -webkit-border-bottom-right-radius: 5px; /* LTR */
  border-radius: 0 5px 5px 0; /* LTR */
}

#shortcut-set-switch .form-type-radios {
  padding-bottom: 0;
  margin-bottom: 0;
}

#shortcut-set-switch .form-item-new {
  padding-top: 0;
  padding-left: 17px; /* LTR */
}

/**
 * Collapsed drawer of additional toolbar content.
 */
#toolbar div.toolbar-drawer {
  position: relative;
  padding: 0 10px;
}
/*
 * Admin overlay container
 */
#adminOverlay{
   background: transparent;
   border:none;
   position: absolute;
   width: 85%;
}
#adminOverlay #adminOverlayTitle {
   color: white;
   font-family: 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
   font-size: 20px;
   margin: 0px;
   padding-bottom: 0px;
   float: right;
   white-space:nowrap;
}
#adminOverlay #adminOverlayCloseWrapper{
   position: absolute;
   right: -20px;
   top: 38px;
   width: 20px;
}
#adminOverlayContent, #adminOverlayContent .ui-tabs-nav {
   background: transparent;
   border: none;
   font-size: 10pt;
   padding: 0;
}
.adminOverlayContainer{
   background: white !important;
}


ul.webgui_breadcrumb_container{
   display:block;
   height:10px;
   padding:0px;
   font-size:10pt;
}
li.webgui_breadcrumb_item{
   line-height: 10px;
   display:inline-block;
   float:left;
}
a.webgui-crumb-link:link,
a.webgui-crumb-link:active,
a.webgui-crumb-link:hover,
a.webgui-crumb-link:visited{
   color: black;
   padding-left: .5em;
}
div.adminTabContainerSubMenu{
   padding:0;
   margin:0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
