ul.webgui_breadcrumb_container{
   display:block;
   height:10px;
   padding:0px;
   font-size:10pt;
}
li.webgui_breadcrumb_item{
   line-height: 10px;
   display:inline-block;
   float:left;
}
a.webgui-crumb-link:link,
a.webgui-crumb-link:active,
a.webgui-crumb-link:hover,
a.webgui-crumb-link:visited{
   color: black;
   padding-left: .5em;
}
div.adminTabContainerSubMenu{
   padding:0;
   margin:0;
}