<form id="groupUserDeleteForm" name="groupEditForm">
  <input type="hidden" name="op" value="<%= op %>" />
  <input type="hidden" name="gid" value="<%= gid %>" />
  <%== token %>
</form>
<h3>Users assigned to this Group</h3>
<table id="userGroupTableList" class="webguiAdminTable"></table>
<input id="deleteUsers" type="button" value="Delete">

<h3>Available Users</h3>
<table id="userGroupList" class="webguiAdminTable"></table>
<input id="selectedUsers" type="button" value="select">