<table id="<%= tableId %>">
   <thead>
      <tr>
         <td>id</td>   
         <td>username</td>
         <td>email</td>
         <td>status</td>
         <td>created</td>         
         <td>lastView</td>
         <td>totalTime</td>
         <td>lastLogin</td>         
         <td>updated</td>
      </tr>
   </thead>
</table>