<table id="usersDatatable" class="webguiAdminTable">
	<thead>
		<tr>
			<th>User id</th>
			<th>Username</th>
			<th>Created</th>
			<th>Email</th>
			<th>Status</th>
			<th>Updated</th>
			<th>Select</th>
		</tr>
	</thead>
	<tbody>
   </tbody>
</table>