<!-- put token here ! -->
<div class="delete-controls">
   <button id="delete-users-button">Delete Selected</button>&nbsp;
   <input type="checkbox" id="delete-all-users-toggle" />All
</div>

<table id="usersDatatable" class="webguiAdminTable">
	<thead>
		<tr>
			<th>User id</th>
			<th>Username</th>
			<th>Created</th>
			<th>Email</th>
			<th>Status</th>
			<th>Updated</th>
			<th>Select</th>
		</tr>
	</thead>
	<tbody>
   </tbody>
</table>