<div class="<% if ( type === 'info' ){ %>ui-state-highlight<% }else{ %>ui-state-error<% } %> ui-corner-all">
   <ul>
   <% can.each(messages, function(message){ %>
      <li <%= (el) -> el.data('data', message) %>><%= message.message %></li>
   <% }) %>
   </ul>
</div>
